/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/derived_bidi-type.tab.i
/gen-arabic-shaping-tab
/gen-bidi-type-tab
/gen-joining-type-tab
/gen-mirroring-tab
/gen-unicode-version
/so_locations
/tags
