/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/arabic-shaping.tab.i
/bidi-type.tab.i
/fribidi-config.h
/fribidi-unicode-version.h
/joining-type.tab.i
/libfribidi.la
/mirroring.tab.i
/so_locations
/tags
